@import '../App.scss';

#modal {
    @extend %modal-style;
    bottom: 36%;
    display: grid;
    grid-template-rows: repeat(2, 80px);
    left: 23%;

    .button-container {
        @extend %button-container-style;
    }
}