@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url('https://www.teahub.io/photos/full/329-3299168_pokemon-tcg-dragon-majesty.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;
}

