@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #3D56B2;
    font-family: 'Titillium Web', sans-serif;
}

